.postDetailsPage{
    margin-top: 8vh;
    font-family: Arial, Helvetica, sans-serif;
}

.postDetailsPhoto{
    width: 95%;
    height: 400px;
    border-radius: 30px;
}
.addedat{
    margin-top: 150px;
}
.detailsCard{
    height: 79vh;
    overflow-x: auto;
}
.specs{
    background-color: rgba(250, 235, 215, 0.55);
    height: 55px;
    margin:5px;
    padding: 5px;
    border-radius: 20px;
}

/* user */
.postDetailsUser{
    margin-top: 55px;
    font-size: 17px;
}
.postDetailsAvatar{
    margin-top: 40px;
    height: 150px;
    width: 150px;
    border-radius: 100px;
}
